<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keelim.cnubus.feature.map">
    <application
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MapsActivity"
            android:label="maps" />

        <activity
            android:name=".MapsActivity2"
            android:label="maps" />
    </application>
</manifest>