<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".screen.map1.MapsActivity"
            android:exported="true"
            android:label="maps" />
        <activity
            android:name=".screen.map3.detail.DetailActivity"
            android:exported="false"
            android:label="detail"
            android:launchMode="singleTop" />
    </application>
</manifest>
