<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.keelim.scheme.SchemeActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="all" />
            </intent-filter>
        </activity>

        <activity android:name="com.keelim.scheme.SchemeTestActivity" />
        <activity android:name="com.keelim.scheme.IdDetailActivity" />
        <activity android:name="com.keelim.scheme.IdActivity" />
    </application>
</manifest>
