*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.properties
*.json
*.aab
app/libs/
app/src/main/res/drawable-nodpi/
app/src/main/res/drawable-v24/
/gradle
gradlew
gradlew.bat
*.gradle
*.pro