<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keelim.compose">

    <application>
        <activity
            android:name=".ui.com.keelim.cnubus.ui.compose.Lab3Activity"
            android:exported="false" />
    </application>
</manifest>