<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.keelim.nandadiagnosis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:exported="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3115620439518585~3588723583" />

        <activity
            android:name=".ui.open.OpenSourceActivity"
            android:label="@string/title_activity_open_source"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name=".ui.WebActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <nav-graph android:value="@navigation/mobile_navigation" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name="com.keelim.nandadiagnosis.ui.main.category.DiagnosisActivity" />
        <activity android:name=".ui.kakao_search.SearchActivity" />

        <service
            android:name=".service.TerminateService"
            android:exported="false"
            android:stopWithTask="false" />

        <provider
            android:name=".ui.main.search.SuggestionProvider"
            android:authorities=".ui.main.search.SuggestionProvider"
            android:exported="false" />


    </application>
</manifest>


