<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:enableOnBackInvokedCallback="true"
        >

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.keelim.commonAndroid.initialize.ComposeInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.keelim.commonAndroid.initialize.MobileAdsInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.keelim.commonAndroid.initialize.TimberInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.keelim.commonAndroid.initialize.CoilInitializer"
                android:value="androidx.startup" />
        </provider>


    </application>

</manifest>


