name: ci

on:
  pull_request:
    branches:
      - master
    types: [ closed ]
  workflow_dispatch:

jobs:
  test:
    name: Run CI when build release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: wrapper validation action
        uses: gradle/wrapper-validation-action@v2

      - name: cache gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: set up JDK 17
        uses: actions/setup-java@v4.2.0
        with:
          distribution: "zulu" # See 'Supported distributions' for available options
          java-version: "17"
          cache: "gradle"

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3.1.0
        with:
          gradle-version: current
          gradle-home-cache-cleanup: true

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Add Google Service Json 1
        run:
          echo '${{ secrets.CNUBUS_GOOGLE_SERVICES_JSON }}' > ./app-cnubus/google-services.json
      - name: Add Google Service Json 2
        run:
          echo '${{ secrets.COMSSA_GOOGLE_SERVICES_JSON }}' > ./app-comssa/google-services.json
      - name: Add Google Service Json 3
        run:
          echo '${{ secrets.MYGRADE_GOOGLE_SERVICES_JSON }}' > ./app-my-grade/google-services.json
      - name: Add Google Service Json 4
        run:
          echo '${{ secrets.NANDA_GOOGLE_SERVICES_JSON }}' > ./app-nanda/google-services.json

      - name: ADD LOCAL PROPERTIES
        env:
          APOD_API_KEY: ${{ secrets.LOCAL_PROPERTIES }}
        run:
          echo '${{ secrets.LOCAL_PROPERTIES }}' > ./local.properties
          echo ./local.properties

      - name: Generate jacocoTestReport
        run: ./gradlew jacocoTestReport

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.1.0
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Check dependency
        run: ./gradlew dependencyGuard
